**/.apt_generated
**/.apt_generated_tests
**/.classpath
**/.factorypath
**/.gradle
**/.project
**/.settings
**/bin
README.txt
*-changelog.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
**/build
run
run.bak
*.launch
CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
logs/
.cache-main
tmp/
