
      #header nav {
        max-width: initial;
      }

      #corner_banner {
        position: absolute;
        top: 40px;
        right: -50px;
        width: 300px;
        transform: rotate(30deg);
        font-family: Arial Black;
        font-size: 24px;
        text-align: center;
        color: yellow;
        background: red;
        border: 1px solid yellow;
      }

      #title img {
        position: absolute;
        top: -10px;
        right: 0;
      }

      #naviRight {
        position: fixed;
        width: 200px;
        top: 100px;
        padding: 10px;
        background: #323232;
        border: 2px solid #434343;
        border-radius: 4px;
        right: 10px;
      }

      #naviLeft {
        position: absolute;
        top: 300px;
        left: -230px;
        width: 200px;
        padding: 0;
      }

      @media print, screen and (max-width: 1140px) {
        #naviLeft,
        #naviRight {
          position: initial;
          padding: 0;
          background: none;
          border: none;
          width: auto;
        }
        #naviLeft ul,
        #naviRight ul {
          padding: 0 0 0 20px;
          margin: 0 10px 20px;
        }
      }

      @media print, screen and (max-width: 760px) {
        #title img {
          display: none;
        }
      }

      @media print, screen and (max-width: 480px) {
        section {
          margin-top: 100px;
        }
        nav {
          display: block;
        }
        #header nav li {
          display: none;
        }
        #corner_banner {
          top: 60px;
        }
      }
